<div id="wrapper" class="container-fluid">
    <div id="header-div" class="col-md-12">
    <header>
    
     <h1>&nbsp; Jason A. James &nbsp;</h1>
    
       <address style="text-align: center; font: bold 12pt times; color: #FFFFFF;"><br>
    
    
       <a href="mailto:info@jasonajames.com?subject=RE: Jason A. James Résumé&amp;body=I am contacting you in regards to your Résumé I saw on your website." style="color:yellow;">info@JasonAJames.com</a><br><br></address>
    
    </header>
    
    <main>
    <div id="Nav-div" class="col-md-2">
      <app-sidebar-nav></app-sidebar-nav>
    </div>
    <div id="mainContent" class="col-md-12">
     <section>
    
        <article>
            <!--Breadcrumb Start-->
            <p style="margin:5px; padding:5px; text-align:left; color:white; border:solid #811D15 1px; background-color:#A1381E; font-family:Times;">Jason A. James' Online Résumé Home &gt;&gt; <font style="font-weight:bold;">Video Portfolio</font></p><!--Breadcrumb End-->
               <h2 style="margin:0; color:#A1381E;">
               <span style="font-size:1.4em;">Jason James Videography Portfolio</span><br>
            </h2>
            <br>
            <div id="JasonJames-MediaPlayer"><br>
                    <app-video-production-content></app-video-production-content>    
            </div>
            <br>
            <div style="color:white">Jason James, computer programmer, web developer, Jason A James, software engineer, webmaster, web designer, 
            software developer, Java, C++, HTML, HTML5, CSS3, PHP, AngularJS, Jason Alan James. Jason James Software Developer extraordinaire is well versed in the development environment. Jason A James has focused on Web, Android, Java, and C++ development in his career thus far. However, Jason James is a fast learner, always interested in learning new tech coding languages.</div>
              </article>
    
     </section>
    </div>
    </main>
    <div class="col-md-12">
    <footer>
      <p style="text-align:center; margin-top:5;">©2020 Jason James. All rights reserved.</p>
    <p style="text-align:center;"><a href="//www.JasonAJames.com" target="_parent" style="text-decoration:none;"><img src="//www.jasonajames.com/resume/Footer_Image.gif" alt="Return to www.JasonAJames.com/"></a></p>
    </footer>
    </div>
    </div>
    </div>