<div id="wrapper" class="container-fluid">
    <div id="header-div" class="col-md-12">
    <header>
    
     <h1>&nbsp; Jason A. James &nbsp;</h1>
    
       <address style="text-align: center; font: bold 12pt times; color: #FFFFFF;"><br>
    
    
       <a href="mailto:info@jasonajames.com?subject=RE: Jason A. James Résumé&amp;body=I am contacting you in regards to your Résumé I saw on your website." style="color:yellow;">info@JasonAJames.com</a><br><br></address>
    
    </header>
    
    <main>
    <div id="Nav-div" class="col-md-2">
      <app-sidebar-nav></app-sidebar-nav>
    </div>
    <div id="mainContent" class="col-md-12">
     <section>
    
        <app-work-experience-content></app-work-experience-content>
    
     </section>
    </div>
    </main>
    <div class="col-md-12">
    <footer>
      <p style="text-align:center; margin-top:5;">©2020 Jason James. All rights reserved.</p>
    <p style="text-align:center;"><a href="//www.JasonAJames.com" target="_parent" style="text-decoration:none;"><img src="//www.jasonajames.com/resume/Footer_Image.gif" alt="Return to www.JasonAJames.com/"></a></p>
    </footer>
    </div>
    </div>
    </div>